.header .wrapper {
  position: relative;
  height: 680px;
}
.header-img {
  background-image: url("../assets/header.jpg");
  height: 400px;
  width: 270px;
  background-size: cover;
  position: absolute;
  left: 8%;
  top: 160px;
}
.header-box-mobile {
  display: none;
}
.header-box-desktop {
  position: absolute;
  left: 18%;
  background: #e26f4f;
  width: 525px;
  height: 260px;
  top: 10px;
}
.header-box-desktop h1 {
  position: absolute;
  font-size: 3.5rem;
}
.header-box-desktop h1:nth-child(1) {
  top: 80px;
  left: 100px;
}
.header-box-desktop h1:nth-child(2) {
  top: 140px;
  left: 200px;
}
.portfolio {
  position: absolute;
  font-size: 3.5rem;
  top: 380px;
  right: -1%;
  transform: rotate(90deg);
}
@media (max-width: 700px) {
  .header .wrapper {
    height: 640px;
  }
  .header-img {
    left: 5%;
    top: 50px;
  }
  .header-box-desktop {
    display: none;
  }
  .header-box-mobile {
    display: block;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
  }
  .header-box-mobile h1:last-child {
    margin-left: 60px;
  }
  .portfolio {
    right: -70px;
    top: 280px;
  }
}
