/* CSS RESET */
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*::after,
*::before {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background-color: #e9d2a1;
}
body {
  font-size: 1.1em;
  background-color: var(--background-color);
}
ul {
  list-style-type: none;
}
h1,
h2,
h3 {
  font-family: "Yeseva One", cursive;
}

.test-border {
  border: 1px solid black;
}
.stop-scrolling {
  position: fixed;
  overflow: hidden;
}
